/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─
/*─                                                                            UPDATE BROWSER
/*─
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
.issue-ub-w {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background: #fff;
}
.issue-ub {
    position: absolute;
    top: 48%;
    left: 0;
    width: 100%;
}
.old-browser .issue-ub-w {
    display: block;
}
