.DS_Store
node_modules
*.log
.idea
ip.js
dist
src/app/Config/Database.php
src/app/Bundle
src/static/js/app/Bundle
src/static/js/app.js
src/static/style/css/lib
src/static/style/css/app.css
src/static/style/font
src/adminer*.php
