/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─
/*─                                                                                     HOME
/*─
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
#h {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #240051;
    color: #fff;
}
#h-content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10vw;
}
#h-link {
    position: absolute;
    top: 2vw;
    left: 2.2vw;
    font-weight: 200;
    letter-spacing: 0.05vw;
    font-size: 0.9vw;
    opacity: 0.7;
}
