/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─
/*─                                                                                      VARS
/*─
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*───────────────────────────────────────────────────────────*/
/*─                          fonts
/*───────────────────────────────────────────────────────────*/

$font: 'eesti';
$style: normal;

@mixin font-face $font, 400, $style, GT-Eesti-Display-Regular;
@mixin font-face $font, 200, $style, GT-Eesti-Display-Thin;

/*───────────────────────────────────────────────────────────*/
/*─                         variables
/*───────────────────────────────────────────────────────────*/

$color: #131313;
